html, body {
  background-color: rgb(250, 250, 250);
  font-family: "Lato", sans-serif;
  font-size: 1.1em;
  text-align: center;
}

ul {
  list-style-type: none;
}

a, a:link, a:visited {
  text-decoration: none;
  color: rgb(51, 109, 204);
}

a:hover, a:focus, a:active {
  text-decoration: none;
  color: rgb(35, 75, 140);
}

#wrapper {
  width: 640px;
  margin: 0 auto;
}

.text-left {
  text-align: left;
}

.default-margin-top {
  margin-top: 3em;
}

.default-margin-bottom {
  margin-bottom: 3em;
}
